{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'assets/fonts/icomoon/style.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.css">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/favicon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
 <!--% static 'assets/css/timeline.css' %-->
  <link rel="stylesheet" href="{% static 'assets/css/timeline.css' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    
    <!-- Style -->

    <link rel="stylesheet" href="{% static 'assets/css/style1.css' %}">

    <title>Login</title>
  </head>
  <style>
    .form-check-input[type="radio"]:checked {
      background-color: #FA761B;
    }
  </style>
  <body  style="background: #FEF8F4">
    {% if request.session.success_message %}
    <script>
      console.log("came inside");
      document.addEventListener('DOMContentLoaded', function() {
        Swal.fire({
          title: '{{request.session.title}}',
          text: '{{ request.session.success_message }}',
          icon: '{{ request.session.alert_type }}',
          confirmButtonColor:"#eb5d1e"
        });
        function getCookie(name) {
          var cookieValue = null;
          if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
              var cookie = cookies[i].trim();
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
              }
            }
          }
          return cookieValue;
        }
        
        var csrftoken = getCookie('csrftoken');
        $.ajax({
          url: '/user/session/data/clear/',  // URL of the Django view
          type: 'DELETE',  // HTTP method
          headers: {
            'X-CSRFToken': csrftoken  // Include the CSRF token in the request headers
          },
          success: function(response) {
            // Handle the response from the server
            console.log(response.message);
          },
          error: function(xhr, errmsg, err) {
            // Handle any errors that occurred during the request
            console.log('Error:', errmsg);
          }
        });
      });
    </script>
  {% endif %}
  {% if request.session.error_message %}
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        Swal.fire({
          title: '{{ title }}',
          text: '{{ error_message }}',
          icon: '{{ alert_type }}',
          confirmButtonColor:"#eb5d1e"
        });
        function getCookie(name) {
          var cookieValue = null;
          if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
              var cookie = cookies[i].trim();
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
              }
            }
          }
          return cookieValue;
        }
        
        var csrftoken = getCookie('csrftoken');
        $.ajax({
          url: '/user/session/data/clear/',  // URL of the Django view
          type: 'DELETE',  // HTTP method
          headers: {
            'X-CSRFToken': csrftoken  // Include the CSRF token in the request headers
          },
          success: function(response) {
            // Handle the response from the server
            console.log(response.message);
          },
          error: function(xhr, errmsg, err) {
            // Handle any errors that occurred during the request
            console.log('Error:', errmsg);
          }
        });
      });
    </script>
  {% endif %}
    <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
       <!-- <h1 class="text-light"><a href="index.html"><img src=""></a></h1>  -->
        <!-- Uncomment below if you prefer to use an image logo -->
         <a href="{% url 'index' %}"><img src="{% static 'assets/img/logo3.png' %}" alt="" class="img-fluid" height="1000px" width="180px"></a>
      </div>

      <nav id="navbar" class="navbar2">
          {% comment %} <a class="getstarted scrollto" href="{% url 'user:register' %}">Register</a> {% endcomment %}
        <!-- <i class="bi bi-list mobile-nav-toggle"></i> -->
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->
  <!-- HERO -->
  
  <div class="p-5 text-center bg-image " style="
    background-image: url({% static 'assets/img/2.jpg' %});
    height: 350px;
    background-size: cover;
  ">
  <div class="overlay" style="position: absolute;top: 0;left: 0;
  width: 100%;
  height: 350px;
  background-color: rgba(0, 0, 0, 0.5);"></div>
    <div class="mask" >
    <div class="d-flex justify-content-start align-items-center h-100">
      <div class="text-white">
        <div class="row">
          <h1 class="text-center text-lg-right col-lg-6 offset-lg-8 col-md-8 offset-md-2 col-10 offset-1" style="margin-top: 16vh;"><b>Login</b></h1>
        </div>
        <div class="row">
          <h2 class="text-center text-lg-right col-lg-6 offset-lg-8 col-md-8 offset-md-2 col-10 offset-1" style=""><a href="{% url 'index' %}" style="color: white;" onmouseover="this.style.color=''" onmouseout="this.style.color='white'">Home</a>/<a href="" style="color: white;" onmouseover="this.style.color=''" onmouseout="this.style.color='white'">Login</a></h2>
        </div>
      </div>  
    </div>
    </div>
    </div>
  <div class="d-lg-flex" style="background: #FEF8F4";>
      <div class="container mt-5">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-9 py-5">
            <div class="p-4 border border-5" style="background-color: #FFFFFF">
            <p class="mb-4"></p>
            <form method="post" style="background-color: #FFFFFF">
                {% csrf_token %}
                {% if form.errors %}
                    <div class="alert alert-danger">
                        {% for field_errors in form.errors.values %}
                            {% for error in field_errors %}
                                {{ error }}
                            {% endfor %}
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group first {% if form.email.errors %}has-error{% endif %}">
                            <label for="email">Email Address</label>
                            <input type="email" class="form-control" placeholder="e.g. john@your-domain.com" id="email" name="email">
                            {% if form.email.errors %}
                                <span class="help-block text-primary" style="font-size: 0.8rem">{{ form.email.errors }}</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group last {% if form.password.errors %}has-error{% endif %} mb-3">
                            <label for="password">Password</label>
                            <input type="password" name="password" class="form-control" placeholder="Your Password" id="password">
                            {% if form.password.errors %}
                                <span class="help-block text-primary" style="font-size: 0.8rem">{{ form.password.errors }}</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="row">
                <div class="col-md-12">
                  <div class="">
                    <label for="password"><a href="{% url 'user:forgot_password' %}">Forgot Password</a></label>
                  </div>
                </div>
              </div>
                <div class="d-flex mb-2 align-items-center">
                </div>
                <input type="submit" value="Login" class="btn px-5 btn-primary">
            </form>            
          
          </div>
        </div>
      </div>
    </div>
  </div>
    <script src="{% static 'assets/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'assets/js/popper.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/main1.js' %}"></script>
    <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{%static 'assets/js/main.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.all.min.js"></script>
  </div>
  </body>
</html>

