<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% comment %} <title>Document</title> {% endcomment %}
  <link href="{% static 'assets/css/style2.css' %}" rel="stylesheet">
  <!--<link rel="stylesheet" href="{% static 'assets/css/style2.css' %}">-->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'assets/fonts/icomoon/style.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}">
    <!-- Favicons -->
    <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
    <link href="{% static 'assets/img/favicon.png' %}" rel="apple-touch-icon">
  
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">
  
    <!-- Vendor CSS Files -->
    <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  
    <!-- Template Main CSS File -->
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
   <!--% static 'assets/css/timeline.css' %-->
    <link rel="stylesheet" href="{% static 'assets/css/timeline.css' %}">
  
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
      
      <!-- Style -->
  
      <link rel="stylesheet" href="{% static 'assets/css/style1.css' %}">
  
      <title>Profile</title>
  <style>
    #specifyColor {
        accent-color: rgba(255, 111, 0, 0.953);
    }
    .form-check-input[type="radio"]:checked {
      background-color: #FA761B;
      border-color: #FA761B;
    }  
  </style>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'assets/css/style3.css' %}">
</head>
<body>


  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
       <!-- <h1 class="text-light"><a href="index.html"><img src=""></a></h1>  -->
        <!-- Uncomment below if you prefer to use an image logo -->
         <a href=""><img src="{% static 'assets/img/logo3.png' %}" alt="" class="img-fluid" height="1000px" width="180px"></a>
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          {% if allow_team_creation %}
            <li><a class="nav-link scrollto" href="{% url 'user:create_team' %}" style="font-weight: bold; color: #eb5d1e">Create Team</a></li>
          {% endif %}
          {% if request.user.is_authenticated %}
            <li><a class="getstarted scrollto" href="{% url 'user:logout' %}">Logout</a></li>
          {% endif %}
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <div class="p-5 mt-4 container">
		<div class="main-body">
			<div class="row">
				<div class="col-lg-4">
					<div class="card" style="background-color: #fef8f5;">
						<div class="card-body">
							<div class="d-flex flex-column align-items-center text-center">
								<img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="Admin" class="rounded-circle p-1 bg-primary" width="110">
								<div class="mt-3">
									<h4>John Doe</h4>
									<p class="text-secondary mb-1">{{ user.program_selected.name }}</p>
									<p class="text-muted font-size-sm">{{ team.name }}</p>
									
								</div>
							</div>
							


								<li class="list-group-item d-flex justify-content-center align-items-center flex-wrap">
									<h5 class="mb-0  align-middle"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github me-2 icon-inline"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg>Github</h5>
									<span class="text-secondary"></span>
								</li>
               
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-8">
					<div class="card " style="background-color: #fef8f5;">
						<div class="card-body">

 

             



              <div class="row mb-3">
                <div class="col-md-6">
                  <label for="FirstName" class="form-label"><h6 >First Name</h6></label>
                  <input type="text" name="firstName" class="form-control bg-white" value="{{ user.first_name }}" id="firstName" readonly>
                  <span class="formerror" id="error"></span>
                </div>
              
                <div class="col-md-6">
                  <label for="LastName" class="form-label"><h6 >Last Name</h6></label>
                  <input type="text" class="form-control bg-white"  value="{{ user.last_name }}" id="lastName" readonly>
                </div>
              </div>
              
           


            <div class="row mb-3">
              <div class="col-sm-3">
                <h6 class="mb-0">Email</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <input type="text" class="form-control" value="{{ user.email }}"  style="background-color: white; color: black;" readonly>
              </div>
            </div>


             <div class="row mb-3">
              <div class="col-sm-3">
                <h6 class="mb-0">USN</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <input type="text" class="form-control" value="{{ user.usn }}"  style="background-color: white; color: black;" readonly>
              </div>
            </div>






							<div class="row mb-3">
								<div class="col-sm-3">
									<h6 class="mb-0">Phone Number</h6>
								</div>
								<div class="col-sm-9 text-secondary">
									<input type="text" class="form-control" value="{{ user.phone_number }}">
								</div>
							</div>



              
             <div class="row mb-3">
              <div class="col-sm-3">
                <h6 class="mb-0">Program</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <input type="text" class="form-control" value="{{ user.program_selected.name }}"  style="background-color: white; color: black;" readonly>
              </div>
            </div>
 
              
            <div class="row mb-3">
              <div class="col-sm-3">
                <h6 class="mb-0">Your Techstack</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <input type="text" class="form-control" {% if user.techstack %}value="{{ user.techstack }}"{% endif %} style="background-color: white; color: black;" readonly>
              </div>
            </div>



            <div class="row mb-3">
              <div class="col-sm-3">
                <h6 class="mb-0">Proficiency</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="techstack" id="specifyColor" value="option1"  {% if user.proficiency == 'BEG' %}checked=true{% else %}disabled{% endif %}>
                  <label class="form-check-label" for="option1">Beginner</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="techstack" id="specifyColor" value="option2"  {% if user.proficiency == 'AVG' %}checked=true{% else %}disabled{% endif %}>
                  <label class="form-check-label" for="option2">Average</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="techstack" id="specifyColor" value="option3" {% if user.proficiency == 'GOO' %}checked=true{% else %}disabled{% endif %}>
                  <label class="form-check-label" for="option3">Good</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="techstack" id="specifyColor" value="option4"  {% if user.proficiency == 'EXP' %}checked=true{% else %}disabled{% endif %}>
                  <label class="form-check-label" for="option4">Expert</label>
                </div>
              </div>
            </div>
           
            {% comment %} <div class="row">
              <div class="col-sm-7"></div>
              <div class="col-sm-9 text-secondary">
                <input type="button" class="btn btn-warning px-4 float-start" style="background-color: rgb(239,127,77); border-color:  rgb(239,127,77); color: white; " value="Save Changes">
              </div>
            </div> {% endcomment %}
            
            
        
						</div>
					</div>
          
          <div class="row">
            <div class="col-sm-12">
              <div class="card" style="background-color: #fef8f5;">
                <div class="card-body">
                  <h3 class="d-flex align-items-center mb-3"><b>Team Members</b></h3>
                  {% for member in team_members %}
                    <h6>Member {{ forloop.counter }}</h6>
                    <input type="text" class="form-control" value="{{ member.user }}" readonly style="background-color: white; color: black; margin-bottom: 10px;">
                  {% endfor %}
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          
          
                  


                  
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>