{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'assets/fonts/icomoon/style.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/favicon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
 <!--% static 'assets/css/timeline.css' %-->
  <link rel="stylesheet" href="{% static 'assets/css/timeline.css' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    
    <!-- Style -->

    <link rel="stylesheet" href="{% static 'assets/css/style1.css' %}">

    <title>Register</title>
  </head>

  <style>
    .form-check-input[type="radio"]:checked {
      background-color: #FA761B;
      border-color: #FA761B;
    }
  </style>
  <body  style="background: #FEF8F4">
    <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
       <!-- <h1 class="text-light"><a href="index.html"><img src=""></a></h1>  -->
        <!-- Uncomment below if you prefer to use an image logo -->
         <a href="{% url 'index' %}"><img src="{% static 'assets/img/logo3.png' %}" alt="" class="img-fluid" height="1000px" width="180px"></a>
      </div>

      <nav id="navbar" class="navbar2">
        <a class="getstarted scrollto" href="{% url 'user:login' %}">Login</a>
        <!-- <i class="bi bi-list mobile-nav-toggle"></i> -->
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->
  <!-- Hero -->
  <div class="mask" >
    <div class="p-5 text-center bg-image " style="
    background-image: url({% static 'assets/img/2.jpg' %});
    height: 350px;
    background-size: cover;
  ">
  <div class="overlay" style="position: absolute;top: 0;left: 0;
  width: 100%;
  height: 350px;
  background-color: rgba(0, 0, 0, 0.5);"></div>
<div class="d-flex justify-content-start align-items-center h-100">
  <div class="text-white">
    <div class="row">
      <h1 class="text-center text-lg-right col-lg-6 offset-lg-8 col-md-8 offset-md-2 col-10 offset-1" style="margin-top: 16vh;"><b>Register</b></h1>
    </div>
    <div class="row">
      <!-- <h2 class="col-md-8 offset-md-2 col-10 offset-1" style="margin-left: 15vh;"><a href="{% url 'index' %}" class="text-white">Home</a>/<a href="" class="text-white">Register</a></h2> -->
      <h2 class="text-center text-lg-right col-lg-6 offset-lg-8 col-md-8 offset-md-2 col-10 offset-1" style=""><a href="{% url 'index' %}" style="color: white;" onmouseover="this.style.color=''" onmouseout="this.style.color='white'">Home</a>/<a href="" style="color: white;" onmouseover="this.style.color=''" onmouseout="this.style.color='white'">Register</a></h2>
      
    </div>
  </div>  
</div>
</div>
</div>
<!-- Hero -->

<!-- body -->
  <div class="d-lg-flex" style="background: #FEF8F4">
      <div class="container mt-0">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-9 py-5">
            <div class="p-4 border border-5" style="background-color: #FFFFFF">
            <p class="mb-4"></p>
            <form method="post" style="background-color: #FFFFFF">
              {% csrf_token %}
              <div class="row">
                  <div class="col-md-6">
                      <div class="form-group first {% if form.first_name.errors %}has-error{% endif %}">
                          <label for="fname">First Name</label>
                          <input type="text" class="form-control" placeholder="e.g. John" id="fname" name="first_name">
                          {% if form.first_name.errors %}
                              <span class="help-block text-primary" style="font-size: 0.8rem">{{ form.first_name.errors }}</span>
                          {% endif %}
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="form-group first {% if form.last_name.errors %}has-error{% endif %}">
                          <label for="lname">Last Name</label>
                          <input type="text" class="form-control" placeholder="e.g. Smith" id="lname" name="last_name">
                          {% if form.last_name.errors %}
                              <span class="help-block text-primary" style="font-size: 0.8rem">{{ form.last_name.errors }}</span>
                          {% endif %}
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-12">
                      <div class="form-group first {% if form.email.errors %}has-error{% endif %}">
                          <label for="email">Email Address</label>
                          <input type="email" class="form-control" placeholder="e.g. john@your-domain.com" id="email" name="email">
                          {% if form.email.errors %}
                              <span class="help-block text-primary" style="font-size: 0.8rem">{{ form.email.errors }}</span>
                          {% endif %}
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-6">
                      <div class="form-group first {% if form.phone_number.errors %}has-error{% endif %}">
                          <label for="lname">Phone Number</label>
                          <input type="text" class="form-control" placeholder="+91823111222" id="lname" name="phone_number">
                          {% if form.phone_number.errors %}
                              <span class="help-block text-primary" style="font-size: 0.8rem">{{ form.phone_number.errors }}</span>
                          {% endif %}
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="form-group first {% if form.usn.errors %}has-error{% endif %}">
                          <label for="website">USN</label>
                          <input type="text" class="form-control" placeholder="1MV20CS000" id="fname" name="usn">
                          {% if form.usn.errors %}
                              <span class="help-block text-primary" style="font-size: 0.8rem">{{ form.usn.errors }}</span>
                          {% endif %}
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-6">
                      <div class="form-group first {% if form.program_selected.errors %}has-error{% endif %}">
                          <label for="website">Program</label>
                          <select class="form-control" id="website" name="program_selected">
                              <option value="">None</option>
                              {{ programs }}
                              {% for program in programs %}
                                  <option value="{{ program.id }}">{{ program.name }}</option>
                              {% endfor %}
                          </select>
                          {% if form.program_selected.errors %}
                              <span class="help-block text-primary" style="font-size: 0.8rem">{{ form.program_selected.errors }}</span>
                          {% endif %}
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-12">
                      <div class="form-group first {% if form.techstack.errors %}has-error{% endif %}">
                          <label for="email">Your Techstack</label>
                          <textarea class="form-control" placeholder="What all do you know" id="techstack" style="height: 6rem;" name="techstack"></textarea>
                          {% if form.techstack.errors %}
                              <span class="help-block text-primary" style="font-size: 0.8rem">{{ form.techstack.errors }}</span>
                          {% endif %}
                      </div>
                  </div>
              </div>
              <label for="website">Proficiency:</label>
              <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="proficiency" id="inlineRadio1" value="BEG">
                  <label class="form-check-label" for="inlineRadio1">Beginner</label>
              </div>
              <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="proficiency" id="inlineRadio2" value="AVG">
                  <label class="form-check-label" for="inlineRadio2">Average</label>
              </div>
              <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="proficiency" id="inlineRadio3" value="GOO">
                  <label class="form-check-label" for="inlineRadio3">Good</label>
              </div>
              <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="proficiency" id="inlineRadio4" value="EXP">
                  <label class="form-check-label" for="inlineRadio4">Expert</label>
              </div>
              <div class="d-flex mb-1 mt-1 align-items-center">
              </div>
              <div class="row">
                  <div class="col-md-6">
                      <div class="form-group last mb-3 {% if form.password1.errors %}has-error{% endif %}">
                          <label for="password">Password</label>
                          <input type="password" name="password1" class="form-control" placeholder="Your Password" id="password">
                          {% if form.password1.errors %}
                              <span class="help-block text-primary" style="font-size: 0.8rem">{{ form.password1.errors }}</span>
                          {% endif %}
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="form-group last mb-3 {% if form.password2.errors %}has-error{% endif %}">
                          <label for="re-password">Re-type Password</label>
                          <input type="password" name="password2" class="form-control" placeholder="Your Password" id="re-password">
                          {% if form.password2.errors %}
                              <span class="help-block text-primary" style="font-size: 0.8rem">{{ form.password2.errors }}</span>
                          {% endif %}
                      </div>
                  </div>
              </div>
              <div class="d-flex mb-2 mt-4 align-items-center">
              </div>
              <input type="submit" value="Register" class="btn px-5 btn-primary">
          </form>
          
          </div>
        </div>
      </div>
    </div>
  </div>
    <script src="{% static 'assets/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'assets/js/popper.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/main1.js' %}"></script>
    <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{%static 'assets/js/main.js' %}"></script>
  </div>
  </body>
</html>

