#slidecontainer{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    flex-direction: column;
}
.slide-container{
    max-width: 1120px;
    
    width: 100%;
    background-color: transparent;
}

.slide-content{
    margin: 0 40px;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 50px;
    overflow: hidden;
}
.card{
    border-color: #fef8f5;
    /* width: 320px; */
    /* Change height here  */
    border-radius: 25px;
    background-color: #fef8f5;
}
.image-content,
.card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}


.card-image{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: #fff;
    padding: 3px;

}
.image-content{
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
}
.overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #fb771a;
    border-radius: 25px 25px 0 25px;
}
.overlay::before,
.overlay::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: #fb771a;
}
.overlay::after{
    border-radius: 0 25px 0 0;
    background-color: #fef8f5;
}
.card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #fb771a;
}

.name{
    font-size: 18px;
    font-weight: 500;
    color: #333;
}
.description{
    font-size: 14px;
    color: #707070;
    text-align: center;
}

.domain p{
    border: none;
    font-size: 16px;
    color: #fff;
    padding: 8px 16px;
    background-color: #fb771a;
    border-radius: 6px;
}
.swiper-pagination-bullet{
    background-color: #fb8633;
    opacity: 1;
}
.swiper-button-prev{
    width: 40px;
    opacity: 1;
    transition: 0.3s ease-in;
}
.swiper-button-prev:hover{
    opacity: 0.85;
}

.swiper-button-next{
    width: 40px;
    opacity: 1;
    transition: 0.3s ease-in;
}
.swiper-button-next:hover{
    opacity: 0.85;
}

@media screen and (max-width: 750px){
    .swiper-button-next{
        display: none;
    }
    .swiper-button-prev{
        display: none;
    }
}